@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: #f33c3c;
}
html {
  font-size: 62.5%;
}
body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}
header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 3rem;
  color: #f33c3c;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
.logo:hover {
  transform: scale(1.1);
}
nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active {
  color: #f33c3c;
  border-bottom: 3px solid #f33c3c;
}
@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #f33c3c;
    border-bottom: 3px solid #f33c3c;
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: #161616;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  }
  nav.active {
    display: block;
  }
  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #f33c3c;
  }
}
section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}
.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}
span {
  color: #f33c3c;
}
.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.home-content p {
  font-size: 2rem;
}
.home-img {
  border-radius: 50%;
}
.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid #f33c3c;
  cursor: pointer;
  transition: 0.2s linear;
}
.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.download-btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: black;
  border-radius: 4rem;
  font-size: 1rem;
  color: #f33c3c;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #f33c3c;
  transition: 0.3s ease;
  margin-top: 15px;
  cursor: pointer;
}
.download-btn:hover {
  transform: scale3d(1.03);
  background-color: #f33c3c;
  color: black;
  box-shadow: 0 0 25px #f33c3c;
}
.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.typing-text span {
  position: relative;
}
.typing-text span::before {
  content: "Web Developer";
  color: #f33c3c;
  animation: words 10s infinite;
}
.typing-text span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}
@keyframes cursor {
  to {
    border-left: 3px solid #f33c3c;
  }
}
@keyframes words {
  0%,
  20% {
    content: "Web Designer";
  }
  21%,
  30% {
    content: "Web Developer";
  }
}
@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}
@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }
  .home .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-card {
  background-color: #222;
  border: 1px solid #f33c3c;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 550px;
  height: 200px;
}

.education-image img {
  max-width: 200px;
  max-height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.education-details {
  margin-left: 20px;
  flex: 1;
}

.education-details h2 {
  color: #f00;
  margin: 0 0 10px;
}

.education-details p {
  margin: 5px 0;
  color: #f88;
}

.projects-container {
  display: flex;
  gap: 20px;
  align-items: center;
  border: 1px solid #f33c3c;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}

.project-card {
  display: flex;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  align-items: stretch;
}

.project-image {
  width: 300px;
  height: 160px;
}

.project-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 3;
}

.project-title {
  font-size: 1.5rem;
  color: #f33;
  margin: 0 0 10px;
}

.project-description {
  font-size: 12px;
  margin: 5px 5px;
  color: #ccc;
}

.project-link {
  font-size: 1rem;
  color: #fff;
  background-color: #f33;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  align-self: start;
}

.project-link:hover {
  background-color: #b00;
}

@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .project-image {
    width: 100%;
  }

  .project-details {
    align-items: center;
  }
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  gap: 5px;
}

.container {
  width: 100%;
  border: 1px solid #f33c3c;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: black;
}

h1 {
  color: #f33c3c;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input,
textarea {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #f33c3c;
  border-radius: 4px;
}

button {
  background-color: #f33c3c;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #f33c3c;
  border-radius: 4px;
}

button:hover {
  background-color: #f33c3c;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid #f33c3c;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #f33c3c;
}
.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: #f33c3c;
  box-shadow: 0 0 25px #f33c3c;
}
footer {
  background-color: transparent; /* Match background */
  color: #ff4b4b; /* Adjust color as needed */
  text-align: center; /* Center the text */
  padding: 10px 0;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%; 
}


